@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  color: #303030;
  background-color: #f3f2ef;
  overflow-x: hidden;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
}

.navBarHeader {
  background-color: #101227;
}

.loginNavbar {
  display: flex;
  justify-content: flex-start;
  padding-left: 7%;
  border-bottom: 1px solid #d8d8d8;
  width: 70%;
}

@media (max-width: 768px) {
  .loginNavbar {
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }
}

.loginNavbar h6 {
  margin-bottom: 0;
  font-weight: normal;
  padding-bottom: 11px;
}

.loginNavbar h6:hover {
  cursor: pointer;
}

h6.selectedLoginNavbar {
  color: #ff804a;
  border-bottom: 2px solid #ff804a;
}

.orangeButton,
.blueButton,
.blueButtonV2 {
  background-color: #ff804a;
  color: white;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
}

.blueButton {
  background-color: #5190d1;
}
.blueButton:hover {
  background-color: #306187;
}

.blueButton:disabled {
  background-color: #87b4e2;
}

.blueButtonV2 {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #5190d1;
  color: #5190d1;
}

.blueButtonV2:hover {
  background-color: #5190d1;
  color: white;
}

.blueButtonV2:disabled {
  border: 1px solid #82b7ec;
  color: #82b7ec;
}
.blueButtonV2:disabled:hover {
  border: 1px solid #82b7ec;
  color: #82b7ec;
  background: rgba(255, 255, 255, 0);
}

.orangeButton:hover {
  background-color: #ff5b22;
}

.orangeButton:disabled {
  background-color: #fdba9c;
}

.loader {
  animation-name: enlarge;
  animation-duration: 1700ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes enlarge {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0.1);
  }
}

.Toaster {
  border-radius: 5px;
  background-color: rgb(84, 186, 112);
  position: fixed;
  top: 60px;
  right: 30px;
  z-index: 999999;
  color: white;
  padding: 8px 15px;
  text-align: center;
  animation-name: showToaster;
  animation-duration: 4000ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes showToaster {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.waitingScreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.017);
}

.shadow {
  box-shadow: 0 0.5rem 1rem #1012276b !important;
}

.hoursOfDay,
.hoursOfDaySelected {
  background: #67d6d3;
  color: white;
  text-align: center;
  padding: 8px 0;
  border-radius: 15px;
}

.hoursOfDay:hover {
  cursor: pointer;
  background: #56b6b3;
}

.hoursOfDaySelected {
  background-color: #ff804a;
}

.getBiger:hover {
  transform: scale(1.1) translate(2%);
  transition: 0.4s ease;
}

.profileAvatar {
  border-radius: 50%;
  border: 2px solid white;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.addProfileImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.415);
  border-radius: 50%;
  display: none;
}

.imageContainer {
  height: 150px;
  width: 150px;
  position: relative;
  border-radius: 50%;
  margin-top: -70px;
}

.imageContainer:hover .addProfileImage,
.patientSidebar div:first-of-type div:first-of-type:hover .addProfileImage,
.patientSidebarSm div:first-of-type div:first-of-type:hover .addProfileImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addProfileImage:hover i {
  transform: scale(2);
  transition: 0.6s ease;
  cursor: pointer;
}
.addProfileImage .fas.fa-plus:hover {
  background-color: rgba(0, 0, 0, 0);
}

.profileCardContainer {
  background-color: white;
  border-radius: 15px;
}

.profileInfoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doctorIdCard {
  position: relative;
}

.doctorIdCard div {
  background-color: white;
  position: absolute;
  top: -20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctorIdCard div div {
  position: absolute;
  top: 8px;
  background-color: #f3f2ef;
  height: 10px;
  width: 60%;
  box-shadow: inset 2px 2px 1px #1012278b, inset -2px -1px 1px #1012278b;
  border-radius: 15px;
  z-index: 999;
}

.doctorIdCard div div div {
  height: 60px;
  background-color: rgb(199, 199, 199);
  box-shadow: inset 0 0.5rem 1rem #1012278b, inset 0 -0.5rem 1rem #1012278b;
  top: -52px;
  transform: rotate(5deg);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.idBackground {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.profileSectionSelector {
  margin-bottom: 0;
  background-color: inherit;
  padding: 5px 15px;
  color: gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.profileSectionSelector:hover {
  cursor: pointer;
}

.profileSectionBorder {
  background-color: white;
  color: #303030;
}
.profileSection {
  background-color: white;
  border-radius: 15px;
  border-top-left-radius: 0;
}

.reviewText {
  border-radius: 10px;
  border-top-left-radius: 0;
  background-color: #f3f2ef;
  margin-left: 50px;
  padding: 7px 15px;
  display: flex;
  justify-content: space-between;
}

.accountInfo {
  padding: 0px 20px;
  color: #a09a9b;
  line-height: 18px;
  position: relative;
}

.accountInfoLight {
  padding: 0px 20px;
  color: #303030;
  background-color: white;
  line-height: 18px;
  position: relative;
  z-index: 9999;
}

.accountInfo:hover,
.accountInfoLight:hover {
  cursor: pointer;
}

.accountInfo:hover p {
  color: white;
}

.accountInfo p,
.accountInfoLight p {
  margin-bottom: 0;
}

.accountInfo p:last-of-type,
.accountInfoLight p:last-of-type {
  font-size: 14px;
}

.accountInfo img,
.accountInfoLight img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.navbarDropDown {
  color: #a09a9b;
  position: absolute;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 9999;
  top: 47px;
  right: 0;
  left: 0;
}

.navbarDropDown li {
  padding: 7px 15px;
}

.navbarDropDown li:hover {
  color: #303030;
  cursor: pointer;
  background-color: #a09a9b28;
}

.navbarDropDown ul {
  list-style: none;
  padding-left: 0;
  line-height: 30px;
}
.patientSidebar {
  background-color: white;
  border-bottom-left-radius: 15px;
  min-height: 80vh;
}

.sideBarSelector ul {
  padding: 0 10px;
  list-style: none;
}

.sideBarSelector li {
  margin-bottom: 0.7rem;
}

.sideBarSelector li:hover {
  cursor: pointer;
  color: #ff804a;
}

.sideBarSelectedItem {
  color: #ff804a;
  border-right: 3px solid #ff804a;
}

.patientSidebarSm {
  background-color: white;
}

.patientSidebarSm div:last-of-type div {
  padding-bottom: 10px;
}

.patientSidebarSm div:nth-child(2) div:hover {
  cursor: pointer;
  color: #ff804a;
}

.sideBarSelectedItemSm {
  color: #ff804a;
  border-bottom: 3px solid #ff804a;
}

.appointmentTable thead {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.appointmentTable thead th {
  border-left: 1px solid white;
  background-color: rgba(255, 255, 255, 0.415);
}

.appointmentTable thead th:last-of-type {
  border-right: 1px solid white;
}

.appointmentTable tbody tr {
  border-bottom: 1px solid white;
}

.appointmentTable tbody tr td {
  border-left: 1px solid white;
  color: white;
}

.appointmentTable tbody tr td:last-of-type {
  border-right: 1px solid white;
}

.appointmentTable tbody tr:hover {
  border: 2px solid white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.415);
  transform: scaleX(1.01);
  transition: 0.4s ease;
}

.appointmentTable tbody tr:hover td {
  color: #303030;
}

.fas.fa-ellipsis-h {
  padding: 5px 5px;
}
.fas.fa-ellipsis-h:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(143, 143, 143, 0.37);
}

.addRating i:hover {
  cursor: pointer;
}

.fas.fa-check:hover,
.fas.fa-times:hover {
  cursor: pointer;
}

.fas.fa-trash-alt,
.fas.fa-plus {
  padding: 5px 5px;
}

.fas.fa-trash-alt:hover,
.fas.fa-plus:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(143, 143, 143, 0.37);
}

.fa-chevron-down:hover,
.fa-chevron-up:hover {
  cursor: pointer;
}

.singleMember:hover {
  cursor: pointer;
  text-decoration: underline;
}

.patientDocument img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.patientDocument:hover {
  cursor: pointer;
}

.patientDocument {
  position: relative;
}

.patientDocument div:first-of-type {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.469);
  justify-content: center;
  align-items: center;
  color: rgb(240, 234, 234);
  display: none;
}

.patientDocument:hover div:first-of-type {
  display: flex;
}

.patientDocument div:first-of-type:hover i {
  transform: scale(1.9);
  transition: 0.6s ease;
}

.documentModal {
  max-width: 90vw !important;
}

.homePageSearch {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.homePageSearch p {
  font-size: 3.5rem;
  margin-left: 5%;
  font-weight: 400;
  color: #101227;
}

.homePageSearch .input-group {
  width: 50%;
  margin-left: 15%;
}

.singleSearchResult {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  border-radius: 15px;
  padding: 20px 25px;
  border: 1px solid rgba(0, 0, 255, 0);
}

.singleSearchResult:hover {
  border: 1px solid #26a3cf;
  cursor: pointer;
}

.reasonsToJoin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
