.hoursOfDay {
  background: rgb(48, 125, 151);
  color: white;
  text-align: center;
  padding: 8px 10px;
  border-radius: 15px;
}

.hoursOfDay:hover {
  cursor: pointer;
  background: rgb(92, 167, 92);
}

.getBiger:hover {
  transform: scale(1.1) translate(2%);
  transition: 0.4s ease;
}

.profileAvatar {
  border-radius: 50%;
  border: 10px solid #b9e9b2;
  max-height: 150px;
  object-fit: cover;
}

.profileInfoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileSectionSelector {
  margin-bottom: 0;
  background-color: #eaf5e9;
  padding: 5px 15px;
  color: gray;
  border-top: 2px solid #b9e9b2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.profileSectionSelector:hover {
  cursor: pointer;
}

.profileSectionBorder {
  background-color: #d6fcd2;
  border-right: 2px solid #b9e9b2;
  border-left: 2px solid #b9e9b2;
  color: black;
}
.profileSection {
  background-color: #d6fcd2;
  border: 2px solid #b9e9b2;
  border-radius: 15px;
  border-top-left-radius: 0;
}

.reviewText {
  border-radius: 10px;
  border-top-left-radius: 0;
  background-color: #f8fff7;
  margin-left: 50px;
  padding: 7px 15px;
}
