.hoursOfDay {
  background: rgb(48, 125, 151);
  color: white;
  display: inline;
  padding: 8px 25px;
  border-radius: 15px;
}

.hoursOfDay:hover {
  transform: scale(1.3);
  transition: 0.6s ease;
  cursor: pointer;
  background: rgb(92, 167, 92);
}

.getBiger:hover {
  transform: scale(1.1) translate(2%);
  transition: 0.4s ease;
}
