.hoursOfDay {
  background: rgb(48, 125, 151);
  color: white;
  text-align: center;
  padding: 8px 10px;
  border-radius: 15px;
}

.hoursOfDay:hover {
  cursor: pointer;
  background: rgb(92, 167, 92);
}

.getBiger:hover {
  transform: scale(1.1) translate(2%);
  transition: 0.4s ease;
}
