body {
  color: #303030;
  background-color: #f3f2ef;
  overflow-x: hidden;
}

textarea {
  resize: none;
}

.navBarHeader {
  background-color: #101227;
}

.loader {
  animation-name: enlarge;
  animation-duration: 1700ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes enlarge {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0.1);
  }
}

.waitingScreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.17);
}

.shadow {
  box-shadow: 0 0.5rem 1rem #1012276b !important;
}

.hoursOfDay {
  background: rgb(48, 125, 151);
  color: white;
  text-align: center;
  padding: 8px 10px;
  border-radius: 15px;
}

.hoursOfDay:hover {
  cursor: pointer;
  background: rgb(92, 167, 92);
}

.getBiger:hover {
  transform: scale(1.1) translate(2%);
  transition: 0.4s ease;
}

.profileAvatar {
  border-radius: 50%;
  border: 10px solid #b9e9b2;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.profileInfoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileSectionSelector {
  margin-bottom: 0;
  background-color: #eaf5e9;
  padding: 5px 15px;
  color: gray;
  border-top: 2px solid #b9e9b2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.profileSectionSelector:hover {
  cursor: pointer;
}

.profileSectionBorder {
  background-color: #d6fcd2;
  border-right: 2px solid #b9e9b2;
  border-left: 2px solid #b9e9b2;
  color: #303030;
}
.profileSection {
  background-color: #d6fcd2;
  border: 2px solid #b9e9b2;
  border-radius: 15px;
  border-top-left-radius: 0;
}

.reviewText {
  border-radius: 10px;
  border-top-left-radius: 0;
  background-color: #f8fff7;
  margin-left: 50px;
  padding: 7px 15px;
  display: flex;
  justify-content: space-between;
}

.accountInfo {
  padding: 0px 20px;
  color: #a09a9b;
  line-height: 18px;
  position: relative;
}

.accountInfoLight {
  padding: 0px 20px;
  color: #303030;
  background-color: white;
  line-height: 18px;
  position: relative;
}

.accountInfo:hover,
.accountInfoLight:hover {
  cursor: pointer;
}

.accountInfo:hover p {
  color: white;
}

.accountInfo p,
.accountInfoLight p {
  margin-bottom: 0;
}

.accountInfo p:last-of-type,
.accountInfoLight p:last-of-type {
  font-size: 14px;
}

.accountInfo img,
.accountInfoLight img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.navbarDropDown {
  color: #a09a9b;
  position: absolute;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 999;
  top: 47px;
  right: 0;
  left: 0;
}

.navbarDropDown li {
  padding: 7px 15px;
}

.navbarDropDown li:hover {
  color: #303030;
  cursor: pointer;
  background-color: #a09a9b28;
}

.navbarDropDown ul {
  list-style: none;
  padding-left: 0;
  line-height: 30px;
}

.fas.fa-ellipsis-h {
  padding: 5px 5px;
}
.fas.fa-ellipsis-h:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(143, 143, 143, 0.37);
}

.addRating i:hover {
  cursor: pointer;
}

.fas.fa-check:hover,
.fas.fa-times:hover {
  cursor: pointer;
}
